/* =========== Google Fonts =========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* =========== Variáveis =========== */
:root {
    /* =========== Colors =========== */
    --primary-color: #00023b;
    --secondary-color: #ffc500;
    --tertiary-color: #420000;
    --text-color: #181E20;
    --text-color-secondary: #F2F4F5;
    --bg-color: #F2F4F5;

    /* =========== Hover Filter =========== */
    --hover-filter: brightness(1.2);
}

/* =========== Base =========== */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    color: var(--secondary-color);
    font-size: 1.9 rem;
    font-weight: 500;
}

/* ========================== Scrollbar CSS ========================== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #bfbfbf #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

/* =========== Shared Class =========== */
.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-grid {
    display: grid;
    justify-items: center;
    padding-top: 80px;
}

/* =========== Up Arrow =========== */
.up-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    opacity: .8;
    filter: drop-shadow(0 0 5px var(--bg-color));
}

.up-arrow:hover {
    opacity: 1;
}

.up-arrow a {
    font-size: 2.5rem;
    color: var(--tertiary-color);
}

/* =========== Header =========== */
.page-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: var(--primary-color);
}

.page-header .logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.page-header .logo img {
    height: 50px;
}

.page-header .logo img:hover {
    filter: var(--hover-filter);
}

.page-header #checkbox-menu,
.page-header .menu-hamburger,
.page-header .white-space-menu {
    display: none;
}

/* =========== Menu =========== */
.page-header .menu-nav {
    height: 100%;
}

.nav-list {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-list .menu-item {
    height: 100%;
    margin-left: 30px;
}

.nav-list .menu-item a {
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

.nav-list .menu-item a:hover {
    filter: var(--hover-filter);
    text-decoration: underline 2px;
}

/* =========== Submenu =========== */
.menu-item .submenu-nav {
    position: absolute;
    top: 25px;
    width: auto;
    height: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    transition: all .3s ease;
    overflow: hidden;
    display: none;
}

.menu-item:hover .submenu-nav {
    height: auto;
    display: flex;
}

.submenu-nav .submenu-item {
    display: inline-block;
    padding-bottom: 5px;
}

/* =========== Main =========== */
#main {
    flex-direction: column;
    width: 80%;
    padding-top: 80px;
}

/* =========== Home =========== */
#main .home-container {
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url("../img/Star_Wars_Capa.jpg");
    background-size: cover;
    background-position: top center;
}

.home-container .home-box {
    display: block;
    position: absolute;
    top: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 80px;
    -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.home-box h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .2s;
}

.home-box p {
    margin-bottom: 30px;
    color: var(--text-color-secondary);
    -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .2s;
}

.home-box div {
    display: inline-flex;
}

.home-box a {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
    animation-delay: 1s;
}

.home-box div:hover {
    filter: var(--hover-filter);
    -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* =========== Time Line =========== */
#main #time-line {
    grid-template-columns: 100%;
}

#time-line .movies-container {
    grid-template-columns: 100%;
    padding: 0;
}

/* =========== Dots Time Line =========== */
.space-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    height: 120px;
}

.time-dots {
    width: 12px;
    height: 12px;
    border: 2px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: 50%;
    align-self: center;
    margin: 10px;
    -webkit-animation: ping 2s ease-in-out infinite reverse both;
    animation: ping 2s ease-in-out infinite reverse both;
}

.time-dots:nth-child(1) {
    animation-delay: 0s;
}

.time-dots:nth-child(2) {
    animation-delay: .5s;
}

.time-dots:nth-child(3) {
    animation-delay: 1s;
}

/* =========== Movie Card =========== */
.movies-container .movie-card {
    grid-template-columns: 3fr 2fr;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    max-width: 800px;
}

.movie-card .ribbon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7px;
    left: -50px;
    width: 150px;
    height: 30px;
    overflow: hidden;
    transform: rotate(-45deg);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.movie-card .movie-info {
    display: grid;
    row-gap: 20px;
    padding: 40px;
    background: linear-gradient(60deg, var(--primary-color) 0%, var(--tertiary-color) 100%);
    color: var(--text-color-secondary);
}

.movie-info p {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
}

.movie-info details {
    display: grid;
    grid-template-columns: 100%;
}

.movie-info summary {
    width: 120px;
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
}

.movie-info details span {
    font-size: 0.9rem;
}

.movie-info details span a {
    display: inline-flex;
    color: var(--text-color-secondary);
    transition: all ease .3s;
    padding-top: 10px;
}

.movie-info details span a:hover {
    color: var(--secondary-color);
    text-decoration: dashed underline;
    transform: translateX(10px);
}

.movie-info details span a i {
    display: none;
}

.movie-info details span a:hover i {
    display: initial;
    margin-right: 10px;
}

.movie-info details span:nth-child(2) {
    margin-top: 10px;
}

.movie-info summary:hover {
    color: var(--secondary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));
}

.movie-card .movie-img {
    overflow: hidden;
}

.movie-card .movie-img img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: saturate(0);
    opacity: 0.8;
    transition: all .3s ease;
}

.movie-card:hover .movie-img img {
    height: 110%;
    width: 110%;
    filter: saturate(1);
    opacity: 1;
}

/* =========== About Me =========== */
#main #about-me {
    grid-template-columns: 100%;
}

#about-me .about-info {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.about-info .about-me-img {
    overflow: hidden;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    background: linear-gradient(60deg, var(--primary-color) 0%, var(--tertiary-color) 100%);
    border: 5px solid var(--secondary-color);
    margin: 20px;
}

.about-me-img img {
    object-fit: cover;
    height: 120%;
    filter: saturate(0);
    opacity: .8;
}

.about-info .about-me-text {
    padding: 0 30px;
    text-align: justify;
    text-indent: 2cm;
}

.about-me-text p {
    margin-bottom: 1.5rem;
}

.about-container a {
    color: var(--text-color);
    text-decoration: underline;
}

.about-container a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

#about-me .credits {
    width: 100%;
    font-size: .8rem;
    text-align: center;
}

/* =========== Contact =========== */
#contact .contact-info {
    grid-template-columns: 100%;
    text-align: center;
}

.contact-info .contact-info-text {
    flex-direction: column;
}

.contact-info-text a {
    display: inline-block;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.contact-info-text a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.contact-info-text .icons {
    font-size: 2rem;
}

.contact-info-text .icons i {
    display: inline-block;
    margin: 1rem;
}

/* =========== Footer =========== */
.page-footer {
    width: 100%;
    height: 240px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 40px;
    text-align: center;
    font-size: .8rem;
}